<footer>
    <div class="container">
        <ul class="clear">
            <li class="w370">
                <h3 class="name">GURU GAMER COMPANY</h3>
                {#<p class="add"><i class="icon-location-1"></i>The Strand (Triq Ix-Xatt), GZR 1026, Gzira - Malta</p>#}
                <p class="phone"><i class="icon-phone"></i><a rel="nofollow" style="color: #8c97b2" href="tel:+91 9891575536">+91 9891575536</a></p>
                <p class="mail"><i class="icon-mail"></i>advertise@gurugamer.com</p>
            </li>
            <li class="w470">
                <ul>
                    <li>
                        {#<a href="" class="" title="">About us</a>#}
                        <a href="{{ path('term_condition') }}" class="" title="Terms and conditions">Terms and conditions</a>
                        {#<a href="" class="" title="">Sitemap</a>#}
                    </li>
                    <li>
                        <a rel="nofollow" href="https://www.facebook.com/Gurugamer1" class="btn-face" target="_blank"><img src="{{ static_url }}/images/btn-f.jpg" alt=""></a>
                        {#<a rel="nofollow" href="" class="btn-gg"><img src="images/btn-gg.jpg" alt=""></a>#}
                    </li>
                </ul>
            </li>
            <li class="w270">
                <a href="{{ path('index') }}" class="logo"></a>
                {#<span class="onl-sp">#}
                        {#Online support#}
                        {#<a rel="nofollow" href="" class="icon-sk"><img src="images/icon-sk.jpg" alt=""></a>#}
                        {#<a rel="nofollow" href="" class="icon-msg"><img src="images/icon-msg.jpg" alt=""></a>#}

                    {#</span>#}
            </li>
        </ul>
        <div class="after-f">
            Copyright © {{ "now"|date("Y") }} Gurugamer.com - All rights reserved.
        </div>
    </div>
</footer>
<div class="scrollToTop"></div>