<div class="load-more__processing-block">
    <div class="load-more__loading txt-center">
        <div class="ph-item item-news">
            <div class="ph-col-6 no-padding">
                <div class="ph-picture"></div>
            </div>
            <div class="ph-col-6 col-left">
                <div class="ph-row">
                    <div class="ph-col-2"></div>
                    <div class="ph-col-1 empty"></div>
                    <div class="ph-col-5"></div>
                    <div class="ph-col-4 empty"></div>
                    <div class="ph-col-12 big"></div>
                    <div class="ph-col-12 big"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="load-more__button txt-center">#}
        {#<a href="#" rel="nofollow" class="seemore" title="Load More">See more</a>#}
    {#</div>#}
</div>