{% extends 'base.html.twig' %}

{% block body %}
    <article class="pg-static">
        <div class="container txt-center">
            <h1 class="title-404">Sorry, This content is too old</h1>
            <img src="{{ static_url }}/images/img-404.png" alt="Page not found">
            <a href="/" class="seemore mgt-20">Back to Homepage</a>
        </div>
    </article>
{% endblock %}