{% extends 'base.html.twig' %}

{% block body %}
    <article class="pg-static Terms">
        <div class="container">
            <h1 class="title-sitemap">Terms and Conditions</h1>
            <b>Introduction</b>
            <p class="pdb-15">Terms and Conditions herein apply to Naijacarmarket.com (or the site) and all of its divisions or affiliate operated websites which ference this set of terms and conditions. Using Naijacarmarket.com means that you confirm having understood and accepted all listed terms and conditions below. The Site has the right to change any term or conditi on when necessary. If you continue using the Site after modifications, we can infer that you have agreed upon all those changes.</p>
            <b>Use of the Site</b>
            <p >As a platform for users’ buying and selling cars, Naijacarmarket.com is solely an objective information provider. All listings, submissions or opinions shown on the Site are from users, not reflecting our viewpoints. When signing up for our services, you are obliged to provide or update accurate information. The Site is not responsible for any misleading information or misuse of data by the users. Nor should the Site be held liable for failed transactions between buyers and sellers.</p>
            <p class="pdb-15">All users of the Site are completely responsible for securing their accounts and passwords. Any activity under an account will be counted for such account’s owner. Should you realize possibly unauthorized logging in with your account or password, you must inform us immediately.
                Naijacarmarket.com shall not take responsibility for any loss or damage resulting from your failure to abide by these terms and conditions. Any breach of terms and conditions is equivalent to the revocation of license granted without notice to you.</p>
            <b>Posting and submission</b>
            <p class="pdb-15">All the information, comments or any form of data you submit to the Site (through “Post” and “Submit”) will be automatically collected and become our exclusive property which shall not be returned to you. Also, when you post comment on the Site, you grant us the right to associate that comment with the name you submit, remove or ban the comments from your account at any time if needed.</p>

            <b>Listing approval</b>
            <p>The Site can refuse or cancel any car advert as well as require further verification of the listing other than submitted email, phone number and address before we accept to publish the listing on our website.</p>
            <p class="pdb-15">In case of technical errors leading to the display of wrong information, the Site will contact you for instructions or notification of listing cancellation. The Site shall have the right to refuse or cancel those listings under any circumstances with or without users’ confirmation.</p>

            <b>Applicable law and jurisdiction</b>
            <p>These Terms and Conditions are governed by the laws of the Federal Republic of Nigeria. Both parties agree to conform to the jurisdiction of the courts of Federal Republic of Nigeria in the event of arbitration.</p>
            <p>Any dispute related to these Terms and Conditions must be referred to and finally settled by private confidential binding arbitration before proceeding to a single arbitrator which was held in English and governed by Nigerian law pursuant.</p>
            <p>In that case, the arbitrator is supposed to be a person legally trained and having experience in the field of information technology in Nigeria, independent of both parties.</p>
            <p class="pdb-15">The Site, regardless of the foregoing, has the right to pursue the protection of intellectual property rights and confidential information through the courts.</p>
            <b>Termination</b>
            <p>The Site reserves the right to terminate the Terms and Conditions as well as revoke all of your rights, passwords, account identification issued and access to the Site without prior notice to you.</p>
            <p>In case of termination, you shall immediately cease all access and use on the Site. You also accept that the Site is not responsible to you or any person as a consequence of such termination.</p>
            <p>The termination of this agreement shall not affect the respective terms and conditions between two parties before the date of termination.</p>


        </div>
    </article>
{% endblock %}