{% extends 'base.html.twig' %}

{% block body %}
    <article class="pg-static pdb-25">
        <div class="container">
            <h1 class="title-sitemap">Sitemap</h1>
            <a href="" class="lnk-map active">esports</a>
            <a href="" class="lnk-map">MOBILE GAMES</a>
            <a href="" class="lnk-map">PC/CONSOLE</a>
            <a href="" class="lnk-map">featured</a>
            <a href="" class="lnk-map">reviews</a>
            <a href="" class="lnk-map">photos</a>
        </div>
    </article>
{% endblock %}