{% extends 'base.html.twig' %}
{% block body %}
    <section class="pdb-20">
        <div class="container">
            <ul class="tab-tag">
                <li><span class="btn-tag">tag</span>
                    <h1 class="title-tags" style="display: inline-block;margin: 0px;font-size: 19px;">{{ tag_name }}</h1>
                </li>
            </ul>
            <p class="result"><b>{{ total_count }}</b> results found</p>
            <div id="pnlStreamPosts">
                {% include 'category/widgets/contents.html.twig' with {'postList': tagPosts} only %}
                {% if loadMoreToken is not null %}
                    <div id="loading-panel" class="wrapper hidden">
                        <div class="text-title animated-background"></div>
                        <div class="wrapper-cell">
                            <div class="image animated-background"></div>
                            <div class="text">
                                <div class="text-title animated-background"></div>
                                <div class="text-title animated-background"></div>
                                <div class="text-title animated-background"></div>
                            </div>
                        </div>
                    </div>
                    <a id="btn-load-more" href="javascript:void(0)" class="seemore hidden" rel="nofollow"
                       data-url="{{ path('ajax_tag_stream') }}" data-token="{{ loadMoreToken }}">See more</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}