<footer>
    <div class="container">
        <a href="/" class="logo"></a>
        <ul class="col-f">
            <li>
                <p class="name">GURU GAMER COMPANY</p>
                {#<p class="address"><i class="icon-location"></i><span>The Strand (Triq Ix-Xatt), GZR 1026, Gzira - Malta</span></p>#}
                <p><i class="icon-phone"></i><a rel="nofollow" style="color: #8c97b2" href="tel:+91 9891575536"> +91 9891575536</a></p>
                <p><i class="icon-mail-alt"></i><span>advertise@gurugamer.com</span></p>
                {#<p class="ol-sp">#}
                    {#Online support#}
                    {#<a rel="nofollow" href="" class="btn-sky"></a>#}
                    {#<a rel="nofollow" href="" class="btn-msg"></a>#}
                {#</p>#}
            </li>
            <li class="pdl-5">
                {#<a href="" class="lnk-f">About us</a>#}
                <a href="{{ path('term_condition') }}" class="lnk-f">Terms and conditions</a>
                {#<a href="{{ path('site_map_page') }}" class="lnk-f">Sitemap</a>#}
                <a rel="nofollow" href="https://www.facebook.com/Gurugamer1" class="lnk-face"></a>
                {#<a rel="nofollow" href="" class="lnk-gg"></a>#}
            </li>
        </ul>
        <div class="after-footer">
            Copyright © {{ "now"|date("Y") }} Gurugamer.com - All rights reserved.
        </div>
    </div>
</footer>
<div class="scrollToTop"></div>